RSI_Hotel_Booking/Connected Services/HotelService/HotelService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://endpoint.ws.project.soap.rsi.com/" targetNamespace="http://endpoint.ws.project.soap.rsi.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="getHotelDto" type="tns:getHotelDto" />
  <xs:element name="getHotelDtoResponse" type="tns:getHotelDtoResponse" />
  <xs:element name="getHotelListDto" type="tns:getHotelListDto" />
  <xs:element name="getHotelListDtoResponse" type="tns:getHotelListDtoResponse" />
  <xs:complexType name="getHotelDto">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getHotelDtoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:hotelDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="hotelDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="additionalInformations" type="xs:string" />
      <xs:element minOccurs="0" name="address" type="xs:string" />
      <xs:element minOccurs="0" name="name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="nearbyPlaces" nillable="true" type="tns:placeDto" />
      <xs:element minOccurs="0" name="rate" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="placeDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" type="xs:string" />
      <xs:element minOccurs="0" name="distance" type="xs:double" />
      <xs:element minOccurs="0" name="name" type="xs:string" />
      <xs:element minOccurs="0" name="photo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getHotelListDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getHotelListDtoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:hotelListDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="hotelListDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="exhibitionPhoto" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:long" />
      <xs:element minOccurs="0" name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>