RSI_Hotel_Booking/Connected Services/UserRatingService/UserRatingService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://endpoint.ws.project.soap.rsi.com/" targetNamespace="http://endpoint.ws.project.soap.rsi.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="addUserRating" type="tns:addUserRating" />
  <xs:element name="addUserRatingResponse" type="tns:addUserRatingResponse" />
  <xs:complexType name="addUserRating">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:userRatingDto" />
      <xs:element minOccurs="0" name="arg1" type="xs:long" />
      <xs:element minOccurs="0" name="arg2" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userRatingDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" type="xs:string" />
      <xs:element minOccurs="0" name="personName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addUserRatingResponse">
    <xs:sequence />
  </xs:complexType>
</xs:schema>